:root {
  --white: #ffffff;
  --grey: #808080;
  --black: #000000;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.hero {
  background-image: linear-gradient(
    274.51deg,
    rgba(74, 0, 224, 0.6) 5%,
    rgba(142, 45, 226, 0.5) 130.61%
  );
  block-size: 96px;
}

header details summary {
  font-weight: 700;
}

ol {
  padding-left: 0;
  list-style: none;
}

ol li {
  padding: 8px;
}

ol li {
  counter-increment: menu-header;
}

ol li::before {
  content: counter(menu-header, decimal) ". ";
}

ol li a {
  text-decoration: none;
  color: #000000;
}

ol li:hover {
  background: #5551ff;
}
ol li:hover a {
  color: white;
}

ol li:hover:before {
  color: white;
}

.content {
  text-align: center;
}

.content-main,
.header-content {
  padding-inline: 16px;
}

.content-main h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33.18px;
  margin-block-start: 40px;
  margin-block-end: 16px;
}

.content-main > p {
  line-height: 24px;
  color: #545454;
  margin-block-end: 40px;
}

.content-main hr {
  border: 1px solid rgba(97, 97, 97, 0.2);
  margin-block: 40px;
}

.section-content h2 {
  font-size: 32px;
  line-height: 37.92px;
  font-weight: 400;
  margin-block-end: 40px;
}

.section-content h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26.07px;
  counter-increment: content;
}

.section-content h3::before {
  content: counter(content, decimal) ". ";
}

.section-content p {
  color: #545454;
  line-height: 24px;
}

.section-content img {
  margin-block-start: 40px;
}

blockquote {
  padding-inline-start: 20px;
  border-left: 4px solid #5551ff;
  margin-block-end: 40px;
}

blockquote p {
  line-height: 32px;
  font-weight: 400;
  text-align: start;
}
