:root {
  font-size: 18px;
  --white30: #212121;
  --white20: #212429;
  --white10: #616161;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: white;
  color: var(--white30);
  margin: 0;
}

a {
  color: var(--white30);
}

header {
  font-size: 14px;
  color: var(--white30);
  margin-block-start: 20px;
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header details summary {
  font-weight: 700;
}

header a:hover {
  color: var(--white30);
}

.header-content {
  padding-inline: 20px;
}

.project-variant ol li {
  list-style: none;
  padding: 8px;
  margin-bottom: 0;
}

.project-variant ol li:hover {
  background-color: #000000;
  border-radius: 4px;
}

.project-variant ol li:hover a {
  color: white;
}

p {
  color: var(--white20);
}

pre {
  background-color: #fec62e;
  padding: 40px;
  line-height: 24px;
  font-family: "Roboto";
  overflow: auto;
}

/* .section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
} */

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent 60%
    ),
    url(../images/pattern2.png);
  height: 350px;
}

.main hr {
  display: none;
}

.wrapper {
  max-inline-size: 902px;
  margin: auto;
}

.main .content {
  padding-inline: 16px;
  /* background-color: blue; */
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  position: relative;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: #000000;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-content img {
  max-inline-size: 100%;
}

blockquote {
  margin: 32px 0 64px;
  padding-left: 16px;
  line-height: 24px;
  font-family: "Roboto";
  border-left: 4px solid var(--white10);
}

blockquote span {
  color: var(--white10);
}

blockquote span::before {
  content: "-";
}
.slider-container {
  display: block;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.slider-slide .video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: var(--white10);
  border-radius: 50%;
}

.slider-bullet-list {
  text-align: center;
}

.form input,
.form-button-submit {
  box-sizing: border-box;
  inline-size: 100%;
  background-color: white;
  border: 1px solid var(--white20);
  border-radius: 90px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form-button-submit {
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
}

.form input::-webkit-input-placeholder {
  color: var(--white20);
}

footer {
  background-color: #212429;
  height: 174px;
}

footer h3 {
  color: white;
  text-align: center;
  padding-block-start: 48px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  font-family: "Roboto";
  font-style: normal;
}

.icons {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }
  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }
}
